# Node modules
node_modules/
#package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Test output / reports
test-results/
reports/
allure-results/
allure-report/
playwright-report/

# Environment files
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary / cache files
*.tmp
*.swp
*.lock

Tester UI/